.app-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.test {
  flex: 1 1 auto;
}

.icon {
  transition: transform 0.2s ease;
  width: 40px;
}

.icon:hover {
  transform: scale(1.1);
}

.black {
  filter: hue-rotate(180deg);
}
