@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');
@import 'global';

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Roboto Mono', sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  list-style: none;

}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}
