.footerWrapper {
  height: 120px;
  background-color: #312e2e;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainSection {
  color: white;
}

.mainSection h2 {
  font-size: 20px;
}

.iconWrapper {

}

.infoWrapper {
  display: flex;
  justify-content: space-between;
  min-width: var(--main-width);
}

@media (max-width: 360px) {
  .infoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 320px;

  }
  .mainSection {
    color: white;
    text-align: center;
    font-size: 50px;
    margin-bottom: 4px;
  }

  .mainSection h2 {
    font-size: 12px;
  }
}