.contactSection {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.contactWrapper {
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.titleWrapper {
  margin-bottom: 30px;
}

.titleWrapper h3 {
  color: #1271ea;
  font-size: var(--font-size-m);

}

.titleWrapper h2 {
  font-size: var(--font-size-l);
}

@media (max-width: 360px) {
  .contactWrapper {
    padding: 5px;
  }

  .titleWrapper {
    margin-bottom: 5px;
  }

  .titleWrapper h2 {
    font-size: var(--font-size-s);
    margin-bottom: 10px;
  }

  .titleWrapper h3 {
    font-size: var(--font-size-ss);
    margin-bottom: 5px;

  }

}