.contentSection {
  padding: 160px 0 0 0;
}

.upperWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;
}

.infoWrapper {
  width: 48%;
}

.iconWrapper {
  display: flex;
  gap: 10px;
}

.icon {

}

.infoWrapper h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.infoWrapper h2 {
  font-size: var(--font-size-ss);
}

.photoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.photoWrapper img {
  position: absolute;
  top: -20px;
}

.stackWrapper {
  display: flex;
  align-items: center;
}

.stackWrapper h2 {
  margin-right: 50px;
}

.textWrapper {
  margin-bottom: 60px;
}

@media screen and (min-width: 360px) and (max-width: 400px) {
  .upperWrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  .infoWrapper {
    width: 100%;
  }

  .textWrapper {
    margin-bottom: 30px;
  }

  .textWrapper h1 {
    font-size: var(--font-size-m);
  }

  .textWrapper h2 {
    font-size: var(--font-size-ss);
  }

  .iconWrapper {
    display: flex;
    justify-content: center;
  }

  .stackWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .stick {
    display: none;
  }

  .stackWrapper h2 {
    margin-right: 0;
  }

  .contentSection {
    margin-bottom: 0;
    padding: 90px 0 0 0;
  }
}